body {
    background-image: linear-gradient(to right top, #4e5052, #727677, #9a9d9d, #c4c7c6, #f1f2f0);
}
h1   {
        color: white;
    }
div {
    padding: 10px;
}
header{
    padding: 10px;
}
footer{
    padding: 10px;
    margin:10px;
}
input[type]:required {
    border:2px solid lightsalmon;
}
.main{
    background-image: linear-gradient(to right top, #090909, #191a1a, #262828, #343635, #444542);
    width: 99%;
    padding: 10px;
    margin: 10px;
    color: white;
}
.center {
    text-align: center;
}
.center-content{
    align-content: center;
}
.center-image{
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.brand{
    font-weight: 400;
    xtext-shadow: 20px 0px 10px black;
}

.brand-img{
    box-shadow: 10px 5px 5px black;
}
.hidden{
    display: none;
}

.cards {
    color: black;
    min-height: 800px;
}

.cards .card{
    float: left;
    padding: 10px;
    margin: 10px;
}